<footer class = "m-5">
    <div class = "container-fluid bg-warning">
        <div class = "row bg-dark footerRow">
            <div class = "col-sm-3">
                <span class = "text-white">
                    <i class = "fa fa-facebook fa-2x text-info"></i>
                    facebook 
                </span>
            </div> 
            <div class = "col-sm-3">
                    <span class = "text-white">
                            <i class = "fa fa-instagram fa-2x text-warning"></i>
                            instagram follow us
                    </span>
            </div> 
            <div class = "col-sm-3">
                <span class = "text-white">
                    <i class = "fa fa-whatsapp fa-2x text-success"></i>
                    whatsapp Join Us
                </span>
            </div> 
            <div class = "col-sm-3">
                <i class = "fa fa-google fa-2x text-white"></i>
            </div> 
            <div class = "col-sm-12">
                <p class = "text-primary text-center pt-3">Copyright &copy; reserved, NasahK@Go-training 2019</p>
            </div>
        </div>
       
    </div>
    
</footer>