.searchArea{
    margin-top: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../../assets/images/image4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.searchInput{
    width:25rem;
    margin-right:10px;
}