
<body>

    <!-- Calling the Search component here in its Parent Component 
        And also listening to any output events that occur on the child Comp(app-search) 
    -->
<app-search (myEvent)="Search($event)"></app-search>

<div *ngIf = "searchQuery != null">
    <h4>Displaying Search Results for {{searchQuery}}</h4>
</div>
<div class = "container movie-display">
    <div class = "row">
        <div class = "col-sm-4"  *ngFor = "let movie of movies.results">
            <h3 class = "title">{{movie.original_title}}</h3>
            <img class = "posterStyle" [src] = "baseImageURL + movie.poster_path">
            <a class = "btn btn-primary" [routerLink] = "['/movieDetails']">view details</a>
        </div>
    </div>
</div>


</body>