
<body>

    <!-- Calling the Search component here in its Parent Component 
        And also listening to any output events that occur on the child Comp(app-search) 
    -->
<app-search (myEvent)="Search($event)"></app-search>

<div class = "container bg-secondary">
    <div class = "row">
        <div class = "col-sm-3"  *ngFor = "let movie of movies.results">
            <h3 class = "title">{{movie.original_title}}</h3>
            <img class = "posterStyle" [src] = "baseImageURL + movie.poster_path">
            <a class = "btn btn-primary" [routerLink] = "['/movieDetails']">view details</a>
        </div>
    </div>
</div>



<!-- displays search results -->
<!-- <div class = "container bg-danger" *ngIf = Search($event)>
    <h4>Diplaying search results</h4>
    <div class = "row">
        <div class = "col-sm-3"  *ngFor = "let search of receivedSearchResults.results">
            <h3 class = "title">{{search.original_title}}</h3>
            <img class = "posterStyle" [src] = "baseImageURL + search.poster_path">
            <a class = "btn btn-primary">view details</a>
        </div>
    </div>
</div> -->
</body>